---
import { Image } from 'astro:assets'
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const skills = await getCollection('skills')

const firstSkill = skills[0]
---

<BaseLayout title="Skills" description="What I like to do">
  <div class="text-center flex flex-col gap-12 md:gap-24 mx-auto">
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-bold">{firstSkill?.data?.title}</h2>

      <span
        class="px-4 py-1 bg-[#2A303D] rounded-full text-sm inline-block w-fit mx-auto"
      >
        Currently working with
      </span>

      <p class="text-gray-400">
        I’m a developer experienced in <strong
          >React, Next.js, Astro, TypeScript, Tailwind CSS, API integrations,</strong
        >
        and <strong>GitHub</strong>, with additional knowledge in <strong
          >Node.js, Express, PostgreSQL, AWS, Redux, Web3, Ethers.js, Chakra UI,
          Mantine,</strong
        >
        and <strong>Turborepo</strong>. I’ve built <strong
          >SaaS platforms, financial apps, and Web3 solutions</strong
        >, always focusing on <strong>performance, scalability,</strong> and a <strong
          >great user experience</strong
        >. I’m a <strong>versatile developer</strong> who enjoys learning and adapting
        to new technologies.
      </p>

      <div class="holographic-container my-10">
        {
          firstSkill?.data?.data?.map((item, index) => (
            <div
              class="holographic-card"
              style={{
                '--speed': index * 0.2 + 's',
              }}
            >
              <Image
                src={item.icon}
                alt={item.title}
                width={148}
                height={148}
                class="mx-auto image-skills"
              />
              <h3 class="font-medium my-6">{item.title}</h3>
              <p class="text-gray-400 text-sm">{item.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <style>
    .image-skills {
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      transition: all 0.3s ease-in-out;
      transform: scale(1);
      opacity: 1;
      animation: fade-in var(--speed) linear;
    }
    .image-skills:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }

    .holographic-container {
      justify-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
    @media (min-width: 800px) {
      .holographic-container {
        grid-template-columns: repeat(4, 1fr); /* Máximo de 4 columnas */
      }
    }

    .holographic-card {
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding: 1rem;
      background: #2a303d;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: all 0.5s ease;
    }

    .holographic-card h3 {
      font-size: 1.5rem;
      position: relative;
      z-index: 2;
      font-weight: bold;
    }

    .holographic-card::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(0, 255, 255, 0.3)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
    }

    .holographic-card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    }

    .holographic-card:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
</BaseLayout>
