---
import Bash from '../assets/icons/bash.svg'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const navbarItems = await getCollection('nav')
const firstNavbarItems = navbarItems[0]

---

<div class="top-2 md:top-5 w-full fixed z-10 ">
  <div class="backdrop-blur-lg flex-col justify-center md:flex-row  mx-2 md:max-w-[1200px] bg-[#25272699] rounded-xl md:mx-auto flex items-center">

  <div class="w-full flex justify-between items-center px-2 md:px-4">
    <div class="flex items-center gap-2">
      <div class="font-bold text-xl flex items-center gap-2">
        <a href="/" class="text-white py-4 flex gap-2 items-center">
          <Image src={Bash} alt="Thomas Beckford" width={42} height={42} />
          <span class="text-2xl">Thom Beck</span>
        </a>
      </div>
    </div>

    <nav class="hidden md:flex items-center gap-8">

      {
        firstNavbarItems?.data?.items?.map((item) => (
          <a href={item.link} class="text-gray-300 hover:text-white font-bold">{item.title}</a>
        ))
      }

      <button class="px-4 py-2 bg-gray-700 rounded-lg hover:bg-gray-600">
        <a
          href="https://www.linkedin.com/in/thomas-beckford-07520775/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span>Contact</span>
        </a>
      </button>
    </nav>

    <button
      id="mobile-menu-button"
      class="md:hidden text-white bg-transparent active:bg-slate-800 rounded hover:bg-slate-800"
      aria-label="Toggle menu"
      aria-expanded="false"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 rounded-full"
        fill="none"
        viewBox="0 0 24 24"
        stroke="#fff"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>

  <div class="md:hidden " id="mobile-menu">
    <div class="px-2 w-full pt-2 pb-3 space-y-3 sm:px-3 text-center ">

      {
          firstNavbarItems?.data?.items?.map((item) => (
            <a href={item.link} class="block text-gray-300  hover:text-white font-bold">{item.title}</a>
          ))
        }
          <a
            href="https://www.linkedin.com/in/thomas-beckford-07520775/"
            target="_blank"
            rel="noopener noreferrer"
            class="block text-gray-300 bg-slate-700 hover:text-white rounded w-fit mx-auto px-4 py-1"
          >
            Contact
          </a>
    </div>
  </div>
</div>

<style>
  #mobile-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  #mobile-menu.open {
    max-height: 300px;
    opacity: 1;

  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const mobileMenuButton = document.querySelector('#mobile-menu-button');
    const mobileMenu = document.querySelector('#mobile-menu');

    if (mobileMenuButton && mobileMenu) {
      mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('open');
        const isExpanded = mobileMenuButton.getAttribute('aria-expanded') === 'true';
        mobileMenuButton.setAttribute('aria-expanded', (!isExpanded).toString());
      });
    }
  });
</script>